.signUpScreen {
  max-width: 300px;
  padding: 70px;
  position: relative;
  top: -80px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.85);
}
.signUpScreen > form {
  display: grid;
  flex-direction: column;
}
.signUpScreen > form > h1 {
  text-align: left;
  position: relative;
  top: -10px;
  margin-bottom: 20px;
}
.signUpScreen > form > input {
  padding: 5px 15px;
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border: none;
  border-radius: 5px;
}
.signUpScreen > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 600;
}
.signUpScreen__gray {
  color: gray;
}
.signUpScreen > form > h4 {
  text-align: left;
  margin-top: 30px;
  font-weight: 400;
}
.signUpScreen__link:hover {
  cursor: pointer;
  text-decoration: underline;
}
